<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/patient</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">1234</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="hibernate.show_sql">true</property>

		<mapping class="com.parsd.patientengine.pojo.Patient" />
		<mapping class="com.parsd.patientengine.pojo.Address" />
		<mapping class="com.parsd.patientengine.pojo.FamilyHistory" />
		<mapping class="com.parsd.patientengine.pojo.SocialHabits" />
		<mapping class="com.parsd.patientengine.pojo.HealthCareProxy" />
		<mapping class="com.parsd.patientengine.pojo.PatientAllergy" />
		<mapping class="com.parsd.patientengine.pojo.PatientImmunization" />
		<mapping class="com.parsd.patientengine.pojo.PatientSurgeryHistory" />
		<mapping class="com.parsd.patientengine.pojo.PatientEvent" />
		<mapping class="com.parsd.patientengine.pojo.PatientDiseaseSummary" />
		<mapping class="com.parsd.patientengine.pojo.PatientInsuranceHistory" />
		<mapping class="com.parsd.patientengine.pojo.PatientDisability" />
		<mapping class="com.parsd.patientengine.pojo.AllergyLk" />
		<mapping class="com.parsd.patientengine.pojo.DisabilityLk" />
		<mapping class="com.parsd.patientengine.pojo.DiseaseLk" />
		<mapping class="com.parsd.patientengine.pojo.Doctor" />
		<mapping class="com.parsd.patientengine.pojo.EmergencyContact" />
		<mapping class="com.parsd.patientengine.pojo.ImmunizationDetailsLk" />
		<mapping class="com.parsd.patientengine.pojo.InsuranceLk" />
		<mapping class="com.parsd.patientengine.pojo.LabTestLk" />
		<mapping class="com.parsd.patientengine.pojo.MedicationLk" />
		<mapping class="com.parsd.patientengine.pojo.ProcedureLk" />
		<mapping class="com.parsd.patientengine.pojo.BedAssignment" />
		<mapping class="com.parsd.patientengine.pojo.LabTestHistory" />
		<mapping class="com.parsd.patientengine.pojo.LabTestImages" />
		<mapping class="com.parsd.patientengine.pojo.LabTestImagesId" />
		<mapping class="com.parsd.patientengine.pojo.LabTestHistoryId" />
		<mapping class="com.parsd.patientengine.pojo.PatientDiseaseSummaryId" />
		<mapping class="com.parsd.patientengine.pojo.PatientInsuranceHistoryId" />
		<mapping class="com.parsd.patientengine.pojo.PatientSurgeryHistoryId" />
		<mapping class="com.parsd.patientengine.pojo.PatientSurgeryDetails" />
		<mapping class="com.parsd.patientengine.pojo.PatientSurgeryDetailsId" />
		<mapping class="com.parsd.patientengine.pojo.PatientAllergyId" />
		<mapping class="com.parsd.patientengine.pojo.PatientDisabilityId" />
		<mapping class="com.parsd.patientengine.pojo.PatientEventId" />
		<mapping class="com.parsd.patientengine.pojo.PatientImmunizationId" />
		<mapping class="com.parsd.patientengine.pojo.Treatment" />
		<mapping class="com.parsd.patientengine.pojo.TreatmentId" />
		<mapping class="com.parsd.patientengine.pojo.VitalSigns" />
		<mapping class="com.parsd.patientengine.pojo.VitalSignsId" />
		<mapping class="com.parsd.patientengine.pojo.Prescription" />
		<mapping class="com.parsd.patientengine.pojo.PrescriptionId" />
		<mapping class="com.parsd.patientengine.pojo.Surgery" />
		<mapping class="com.parsd.patientengine.pojo.WardDetails" />
	</session-factory>
</hibernate-configuration>
