<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/patient?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping resource="com/neu/pojo/HealthCareProxy.hbm.xml"/>
    <mapping resource="com/neu/pojo/PatientImmunization.hbm.xml"/>
    <mapping resource="com/neu/pojo/PatientDiseaseSummary.hbm.xml"/>
    <mapping resource="com/neu/pojo/Treatment.hbm.xml"/>
    <mapping resource="com/neu/pojo/PatientSurgeryHistory.hbm.xml"/>
    <mapping resource="com/neu/pojo/ImmunizationDetailsLk.hbm.xml"/>
    <mapping resource="com/neu/pojo/PatientEvent.hbm.xml"/>
    <mapping resource="com/neu/pojo/FamilyHistory.hbm.xml"/>
    <mapping resource="com/neu/pojo/VitalSigns.hbm.xml"/>
    <mapping resource="com/neu/pojo/WardDetails.hbm.xml"/>
    <mapping resource="com/neu/pojo/LabTestHistory.hbm.xml"/>
    <mapping resource="com/neu/pojo/LabTestImages.hbm.xml"/>
    <mapping resource="com/neu/pojo/PatientSurgeryDetails.hbm.xml"/>
    <mapping resource="com/neu/pojo/SocialHabits.hbm.xml"/>
    <mapping resource="com/neu/pojo/Prescription.hbm.xml"/>
    <mapping resource="com/neu/pojo/MedicationLk.hbm.xml"/>
    <mapping resource="com/neu/pojo/PatientInsuranceHistory.hbm.xml"/>
    <mapping resource="com/neu/pojo/Patient.hbm.xml"/>
    <mapping resource="com/neu/pojo/BedAssignment.hbm.xml"/>
    <mapping resource="com/neu/pojo/EmergencyContact.hbm.xml"/>
    <mapping resource="com/neu/pojo/ProcedureLk.hbm.xml"/>
    <mapping resource="com/neu/pojo/InsuranceLk.hbm.xml"/>
    <mapping resource="com/neu/pojo/Doctor.hbm.xml"/>
    <mapping resource="com/neu/pojo/AllergyLk.hbm.xml"/>
    <mapping resource="com/neu/pojo/DisabilityLk.hbm.xml"/>
    <mapping resource="com/neu/pojo/Surgery.hbm.xml"/>
    <mapping resource="com/neu/pojo/Address.hbm.xml"/>
    <mapping resource="com/neu/pojo/LabTestLk.hbm.xml"/>
    <mapping resource="com/neu/pojo/DiseaseLk.hbm.xml"/>
    <mapping resource="com/neu/pojo/PatientAllergy.hbm.xml"/>
    <mapping resource="com/neu/pojo/PatientDisability.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
